a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

.messagepop {
  background-color:#FFFFFF;
  position:absolute;
  border:1px solid #999999;
  border-top-left-radius: 10px ;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4); 
  
  height: 500px;
  width: 900px;



  cursor:default;
  display:none;
  top: 100px;
  left: -650px;
  
  text-align:center;
  z-index:50;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

#new_title, #new_article{

width:100%;


}
.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}
#new_article
{
  resize:none;
  height: 160px;
}
#discard_new
{
  position: relative;
}