* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: gray;
  max-width: 2500px;
  height: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 300px;
  height: 200px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  /* added margin */
  margin: 50px;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 22px;
}

#title {

  height: 30px;
  width: 300px;
  background: black;
  border-radius: : 20px;
  float:top;


}

.panel-primary{

  width: 300px;
  height: 250px;
  float: left;
  margin-top: 80px;
  margin-left: 50px;
  }
.panel-success{

  width: 300px;
  height: 250px;
  float: left;
  margin-top: 80px;
  margin-left: 50px;
  }.panel-info{

  width: 300px;
  height: 250px;
  float: left;
  margin-top: 80px;
  margin-left: 50px;
  }.panel-warning{

  width: 300px;
  height: 250px;
  float: left;
  margin-top: 80px;
  margin-left: 50px;
  }.panel-danger{

  width: 300px;
  height: 250px;
  float: left;
  margin-top: 80px;
  margin-left: 50px;
  }

.btn-default {

position: relative;
float:inline-end;  }

.panel-body{

  word-wrap: break-word;
}

a:link { color: black } /* unvisited links */
a:visited { color: black } /* visited links */
a:hover {  color: black; } /* user hovers */
