* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: gray;
  max-width: 2500px;
  height: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 300px;
  height: 200px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  /* added margin */
  margin: 50px;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 22px;
}

.row {
    background-color: #e3e3e3;

    
}

.col-md-8   {
    background-color: #f5f3f3;
    height: 100%
}
.col-md-2{
  height: 100%
}

.page{

  margin-top: 50px;
}

/*used to remove extending of default text area*/
.noresize{
  resize :none;
}